* {
    box-sizing: border-box;
}


/*  Allows scrolling to be smooth when clicking on nav links */
html {
    scroll-behavior: smooth;
}

body {
    font-family: monospace;
    color: rgba(0, 0, 0, 0.856);
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: rgba(247, 134, 81);
    background-color: rgba(0, 0, 0, 0.856);
}

main {
    width: 87%;
    margin: auto;
}

/* Styles the hyperlinks to the section back to regular color and removes the default underline */
a {
    color: rgba(247, 134, 81);
    text-decoration: none;
}

a:hover {
    color: #B9D09F;
}

nav a:hover {
    border-bottom: 2px solid #B9D09F;
}

.project:hover  {
    background-color: rgb(75, 133, 9);
}

/* Nav will push text to next line if it does not fit on screen */
nav {
    display: flex;
    align-items: center;
}

nav a {
    font-size: 25px;
    margin-right: 80px;
    border-bottom: 2px solid rgba(247, 134, 81);
}

.contact-info a:hover {
    border-bottom: 2px solid #B9D09F;
}

h1 {
    display: inline;
    color: rgba(0, 0, 0, 0.856);
    background-color: rgba(247, 134, 81);
    font-size: 60px;
    text-align: right;
    width: 400px;
    padding-right: 15px;
    line-height: 80px;
    font-family: Georgia, Times, 'Times New Roman', serif
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: Helvetica, sans-serif;
}

table {
    width: 100%;
    border-spacing: 50px;
}

td {
    font-size: 20px;
    line-height: 30px;
}

img {
    height: 100%;
    width: 100%;
    border: 5px solid rgba(75, 133, 9, 0.39);
    opacity: 0.7;
}

img:hover {
    opacity: 1;
}

.section-header {
    color: rgba(0, 0, 0, 0.856);
    font-size: 60px;
    text-align: right;
    border-right: 5px solid rgb(75, 133, 9);
    padding-right: 2%;
    vertical-align: top;
    flex-wrap: wrap;
}

/* Projects are in flex display, so they will wrap to next line if the screen cannot fit all of the projects in one line  */
#project-gallery {
    display: flex;
    flex-wrap: wrap;
}

.project {
    position: relative;
    padding: 2%;
    flex-basis: 50%;
}

.first-project {
    flex-basis: 100%;
}

.project-desc {
    background-color: #B9D09F;
    line-height: 10px;
    padding: 1%;
    position: absolute;
    /* vertical-align: center; */
    top: 20%;
    left: 20px;
}

/* Set contact details to be lined up horizontally and to have space between them */
.contact-info {
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 5%;
}

.contact-info li {
    display: inline-block;
}

#hero {
    background-image: url("../images/henry-be-IicyiaPYGGI-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0px;
    height: 300px;
    width: 100%;
}

#hero-text p {
    position: absolute;
    bottom: 20px;
    right: 10%;
    background-color: rgba(247, 134, 81);
    color: rgba(0, 0, 0, 0.856);
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1% 2%;
}

@media screen and (max-width: 1200px) {
    body {
        width: 80rem;
    }
}