* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: monospace;
    /* width: 100%; */
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: rgba(247, 134, 81);
    background-color: rgba(0, 0, 0, 0.856);
}

/* Styles the hyperlinks to the section back to regular color and removes the default underline */
a {
    color: rgba(247, 134, 81);
    text-decoration: none;
}

a:hover {
    color: #B9D09F;
}

.project:hover  {
    background-color: rgb(75, 133, 9);
}

/* Nav will push text to next line if it does not fit on screen */
nav {
    display: flex;
    align-items: center;
}

nav a {
    font-size: 25px;
    margin-right: 80px;
    border-bottom: 2px solid rgba(247, 134, 81);
}


h1 {
    display: inline;
    color: rgba(0, 0, 0, 0.856);
    background-color: rgba(247, 134, 81);
    font-size: 60px;
    text-align: right;
    width: 400px;
    padding-right: 15px;
    line-height: 80px;
    font-family: Georgia, Times, 'Times New Roman', serif
}

p {
    font-family: Helvetica, sans-serif;
}

table {
    width: 100%;
    border-spacing: 50px;
}

td {
    font-size: 20px;
    line-height: 30px;
}

img {
    height: 50vh;
    width: 100%;
    border: 5px solid rgba(75, 133, 9, 0.39);
}

.section-header {
    font-size: 40px;
    text-align: right;
    border-right: 5px solid rgb(75, 133, 9);
    padding-right: 50px;
    vertical-align: text-top;
    flex-wrap: wrap;
}

/* Projects are in flex display, so they will wrap to next line if the screen cannot fit all of the projects in one line  */
#project-gallery {
    display: flex;
    flex-wrap: wrap;
}

.project {
    position: relative;
    padding: 2%;
    flex-basis: 50%;
}

.first-project {
    flex-basis: 100%;
}

.textbox {
    background-color: #B9D09F;
    line-height: 10px;
    padding: 10px;
    position: absolute;
    /* vertical-align: center; */
    top: 20%;
    left: 20px;
}


/* Set contact details to be lined up horizontally and to have space between them */
.contact-info {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}

/* .contact-info a {
    color: rgba(247, 134, 81);
    text-decoration: none;
} */

.contact-info li {
    display: inline-block;
}

#hero {
    background-image: url("../images/henry-be-IicyiaPYGGI-unsplash.jpg");
    background-position: center;
    margin: 0px;
    height: 300px;
    width: 100%;
}

/* @media screen and (max-width: 1200px) {
    body {
        width: 100rem;
    }

    nav ul {
        flex-direction: column;
    }
  } */