body {
    font-family: monospace;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 20px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.856);
}

nav {
    float: right;
    display: flex;
    align-items: center;
}

li {
    display: inline-block;
    margin-right: 30px;
}

h1 {
    display: inline-block;
    font-size: 50px;
}

#hero {
    background-image: url("./asset/images/henry-be-IicyiaPYGGI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    margin: 0px;
    height: 200px;
    width: 100%;
}
