* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: monospace;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: rgba(247, 134, 81);
    background-color: rgba(0, 0, 0, 0.856);
}

nav {
    /* float: right; */
    display: flex;
    align-items: center;
}

nav li {
    display: inline-block;
    font-size: 25px;
    margin-right: 80px;
    /* text-decoration: underline; */
}


/*  */
h1 {
    display: inline;
    color: rgba(0, 0, 0, 0.856);
    background-color: rgba(247, 134, 81);
    font-size: 60px;
    text-align: right;
    width: 400px;
    padding-right: 15px;
    line-height: 80px;
    font-family: Georgia, Times, 'Times New Roman', serif
}

p {
    font-family: Helvetica, sans-serif;
}

table {
    width: 100%;
    border-spacing: 50px;
}

td {
    font-size: 20px;
    padding-right: 10%;
    line-height: 30px;
}

img {
    height: 100%;
    max-height: 500px;
    max-width: 50vh;
    border: 5px solid rgba(75, 133, 9, 0.39);
}

.section-header {
    font-size: 40px;
    text-align: right;
    border-right: 5px solid rgb(75, 133, 9);
    padding-right: 50px;
    vertical-align: text-top;
    flex-wrap: wrap;
}

/* Projects are in flex display, so they will wrap to next line if the screen cannot fit all of the projects in one line  */
#project-gallery {
    display: flex;
    justify-content: row;
    flex-wrap: wrap;
    flex-grow: 2;
}

.project {
    position: relative;
    padding: 10px;
    width: 50%;
    /* flex: 2 1 300px; */
}

.textbox {
    background-color: #B9D09F;
    line-height: 10px;
    padding: 10px;
    position: absolute;
    /* vertical-align: center; */
    bottom: 60px;
    left: 20px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}

.contact-info li {
    display: inline-block;
}

#hero {
    background-image: url("./asset/images/henry-be-IicyiaPYGGI-unsplash.jpg");
    /* Credit: Photo by <a href="https://unsplash.com/@henry_be?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Henry Be</a> on <a href="https://unsplash.com/s/photos/nature?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
    background-size: cover;
    background-position: center;
    margin: 0px;
    height: 300px;
    width: 100%;
}

/* @media screen and (max-width: ??px) {
    .project {
      width: 100%;
    }
  } */