* {
    box-sizing: border-box;
}
/* Color scheme for website */
:root {
    --soft-black: #1b1b1b;
    --light-green: #B9D09F;
    --dark-purple: #563b9b;
    --soft-purple: #bea4ff;
  }

/*  Scrolls smoothly to section when clicking on nav links */
html {
    scroll-behavior: smooth;
}

main {
    width: 80%;
    margin: 2rem auto;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav > a {
    font-size: 2rem;
    margin-right: 5rem;
    color: var(--soft-purple);
    border-bottom: 2px solid var(--soft-purple);
}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

/* Turns the nav and contact info link to green when mouse hovers over */
a:hover {
    color: var(--light-green);
}

/* Nav links gets extra bounce */
nav a:hover {
    border-bottom: 0.3rem solid var(--light-green);
}

h1 {
    background-color: var(--soft-purple);
    display: inline;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 3.5rem;
    line-height: 1.5;
    padding-right: 1rem;
    width: 400px;
}

h2 {
    font-size: 3rem;
    color: var(--soft-black);
}

h3 {
    font-size: 2rem;
}

h1, h2 {
    color: var(--soft-black);
        text-shadow: 5px;
}

h1, h2 {
    text-align: right;
}
h2, h3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
}

/* Project images are set to be slightly transparent */
img {
    border: 5px solid var(--dark-purple);
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
}

/* When hovering over image, image becomes fully visible (no longer transparent) */
img:hover {
    opacity: 1;
}

.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--soft-black);
}

/* About Me, Work, & Contact info sections become flex boxes, so content can wrap texts if needed */
.section-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 3.5rem;
}

.section-header {
    flex-basis: 25%;
    padding-right: 5rem;
    border-right: 5px solid var(--dark-purple);
}

.section-body {
    flex-basis: 70%;
    line-height: 1.75;
    font-size: 1.5rem;
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}

.contact-info > a {
    color: var(--dark-purple);
}

/* Hovering over contact info adds a light green border-bottom to the content */
.contact-info a:hover {
    color: var(--light-green);
    border-bottom: 2px solid var(--light-green);
}

.project {
    position: relative;
    padding: 2% 2%;
    flex-basis: 50%;
}

/* Hovering over projects highlights the project with a green outline */
.project:hover  {
    background-color: var(--dark-purple);
}

.project-info {
    color: white;
    background-color: var(--soft-black);
    line-height: 0.5; 
    padding: 0.5rem 1rem;
    position: absolute;
    top: 20%;
    left: 5%;
}

/* Current placeholder */
#hero {
    background-image: url("../images/martin-shreder-5Xwaj9gaR0g-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0rem;
    height: 35rem;
    width: 100%;
}

#hero-text > p {
    position: absolute;
    bottom: 1.5rem;
    right: 10%;
    background-color: var(--soft-purple);
    color: var(--soft-black);
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem 2rem;
}

/* Projects will not overflow the screen */
#project-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 70%;
}

/* The first (most recent) project will always be larger than the other projects */
#first-project {
    flex-basis: 100%;
}

@media screen and (max-width: 1380px) {
    body {
        width: 90rem;
        flex-wrap: wrap;
    }
    
    nav a, nav a:hover {
        border-bottom: none;
    }

    nav a {
        line-height: 2.5;
        text-align: center;
        padding-left: 4rem;
    }

    .top-header > h1 {
        font-size: 5rem;
        width: 100%;
        text-align: center;
    }

    /* Section contents are flexed to column view */
    .top-header, .section-container, .contact-info {
        flex-direction: column;
    }

    /* contact info align by columns for easier view */
    .contact-info {
        text-align: center;
    }

    .section-header {
        border-right: none;
    }

    .section-header h2 {
        font-size: 5rem;
        text-align: left;
    }

    .project-info h3 {
        font-size: 4rem;
    }

    nav a, h3, .contact-info {
        font-size: 3.5rem;
    }

    .section-body p, .project-info p {
        font-size: 3rem;
    }
}